#sidebar-btn 
    {
    background-color: transparent;
    border: none;
}

.offcanvas-add {
    min-width: max-content !important;

    span {
        display: inline !important;
    }

}
#overlay{
    background-color: transparent;
    width: 100%;
    height: 100%;
    z-index: 100;
    position: absolute;
    display:none;
}